name: Build python package

on: [push]

permissions: {}

env:
  # Disable check for new pyright version
  PYRIGHT_PYTHON_IGNORE_WARNINGS: 1

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b  # v7.3.0
        with:
          version: "0.10.0"
          python-version: ${{ matrix.python-version }}
          enable-cache: true

      - name: Install just
        run: uv tool install rust-just==1.46.0

      - name: Install the project
        run: uv sync --dev

      - name: Run checks
        run: just check

      - name: Run tests
        run: just test doctest

      - name: Build package
        run: uv build
